body {
    max-width: 1100px;
    margin: 0 auto;
}

img {
    width: 500px;
    height: 300px;
    margin-left: 23%;
}

#avatar {
    width: 30px;
    height: 30px;
    margin: 0;
}

section #quest-title {
    margin: 0 0 30px 230px;
    font-size: 3em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    margin-left: 340px;
    min-width: 800px;
}

label {
    display: flex;
    padding: 5px 0;
    margin-left: 250px;
}

button {
    margin-left: 600px;
}

  
.hidden {
    display: none;
}

header {
    margin-top: 133px;
}
